<% layout("/layouts/boilerplate") %>

  <body>
    <!-- <form method="GET" action="/listings/new">
      <button>Create New Listing</button>
    </form> -->
    <div class="row rows-cols-lg-3 row-cols-md-3 row-cols-sm-1">
      <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing.id %>/show" class="img-link">
          <div class="card box mt-5 " style="width: 20rem">
            <img src="<%= listing.image %>" class="card-img-top" alt="listing image" style="height: 18rem">
            <div class="card-body">
              <p class="card-text">
                <%= listing.title %>
                  <br>
                  &#8377;<%= listing.price.toLocaleString("en-IN") %>
                    <br>
                    <%= listing.location %>
                      <br>
                      <%= listing.country %>
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>
  </body>